body {
	background-color: #0a192f;
	color: #ccd6f6;
	font-family: "NTR", sans-serif;
}

/* Navigation Bar */
.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #0a192f;
}

.logo {
	font-size: 20px;
	display: flex;
	justify-content: center;
	width: 20%;

}

.links-container {
	display: flex;
	width: 80%;
	justify-content: space-between;
}

ul {
	list-style-type: none; /* Remove bullets from list*/
}

.links > ul {
	font-size: 20px;
	font-weight: 700;
	display: flex;
	align-items: center;
	flex-direction: row;
	padding-right: 20px;
	padding-left: 20px;
	gap: 20px;
}

.links > ul > li > a {
	display: flex;
	align-items: center;
}

a:link, a:visited {
	cursor: pointer;
	color: #ccd6f6;
	text-decoration: none;
}
  
a:hover {
	color: #64ffda;
}

/* Introduction Section */
#intro {
	color: #8892b0;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-top: 200px;
}

.intro-title {
	font-size: 85px;
	font-weight: 700;
	color: #ccd6f6;
	text-align: center;
}
.intro-subtitle {
	font-size: 45px;
	font-weight: 400;
	margin-top: -39px;
	text-align: center;
}

.intro-desc {
	font-size: 20px;
	font-weight: 400;
	padding-right: 85px;
	padding-left: 85px;
	text-align: center;
}

/* Sections */

.section-header {
	display: flex;
	padding-bottom: 40px;
}

.section-title {
	font-size: 40px;
	font-weight: 700;
}

/* about */
.about-content {
	display: flex;
	justify-content: space-between;
}

.about-desc {
	font-size: 23px;
	text-align: justify;
}

.about-image img{
	max-width: 300px;
	height: auto;
	border-radius: 10px;
	margin-left: 30px;
}

/* experience */
.experience-company {
	font-size: 30px;
}

.experience-desc {
	font-size: 23px;
	text-align: justify;
}

/* projects */
