body {
  background-color: lightblue;
}

.header{
  display: flex;
  flex-direction: row;
  align-self: center;
  margin: 0;
  justify-content: center;}

.about-me{
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
  border: solid black;
  padding: 10px;
  border-radius: 30px;
  background-color: transparent;
}

.about-me:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}

.img-header{
  display: flex;
  justify-content: center;
  margin: 20px;
}

.blackjack{
  height: 150px;
  width: 300px;
  margin: 20px;
}

.blackjack:hover{
  border: solid black;
}

.header-text{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-link{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.project{
  display: flex;
  align-items: start;
  flex-direction: row;
}

.contact-button{
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
  border: solid black;
  padding: 10px;
  border-radius: 30px;
  text-decoration: none;
  color: black;
  background-color: transparent;
}

.contact-button:hover{
  color: white;
  background-color: black;
}
